.navbar {
  box-sizing: border-box;
  display: flex;
}
.links {
  position: absolute;
  right: 100px;
  display: flex;
}
.nav-item {
  display: inline-block;
}
.nav-item:not(:last-child) {
  margin-right: 10px;
}